Source: inotify-tcl
Section: unknown
Priority: extra
Maintainer: Cyan Ogilvie <cyan.ogilvie@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, fakeroot, tcl8.4-dev, liblocale-gettext-perl, debhelper, gnupg, tcldev
Standards-Version: 3.7.2

Package: inotify-tcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6 (>= 2.5), tcl8.4
Description: Tcl wrapper functions for the Linux kernel inotify mechanism
 A Tcl extension that provides access to the Linux kernel inotify mechanism,
 which is a lightweight and scalable facility to listen for changes to files
 and directories in an event driven manner, rather than polling.
